body {
    background-color: beige;
}

img {
    width: 154px;
    height: 139px;
}

#playerRockBtn {
    background: transparent;
    border: none;
}

#playerPaperBtn {
    background: transparent;
    border: none;
}

#playerScissorsBtn {
    background: transparent;
    border: none;
}

button:hover {
    transform: scale(1.1);
}